In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=dataset[['charges']]

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid = {'criterion':['mse','mae'],'max_features': ['auto','sqrt','log2'],'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)
grid.fit(X_train, y_train)

C:\Users\sony\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 12 candidates, totalling 36 fits

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    6.8s
[Parallel(n_jobs=-1)]: Done  36 out of  36 | elapsed:   10.1s finished
C:\Users\sony\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:715: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [12]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'mse', 'max_features': 'sqrt', 'n_estimators': 100}:

In [13]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.049318,0.001886,0.006665,1.885762e-03,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.773771,0.784090,0.783683,0.780507,0.004774,10
1,0.389217,0.008217,0.027993,5.654534e-03,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.784388,0.804281,0.798401,0.795677,0.008349,5
2,0.033323,0.001885,0.006665,1.885313e-03,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.790266,0.791507,0.786822,0.789532,0.001981,6
3,0.309241,0.001886,0.023993,4.052337e-07,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.810579,0.806831,0.801803,0.806409,0.003596,1
4,0.033323,0.001885,0.006665,1.885032e-03,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.759086,0.797439,0.772566,0.776345,0.015888,12
5,0.301243,0.001885,0.023995,3.265263e-03,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.798331,0.804121,0.799841,0.800762,0.002452,2
6,0.198605,0.003769,0.005333,1.884638e-03,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.769110,0.775634,0.787965,0.777560,0.007819,11
7,1.943423,0.040911,0.021327,1.884695e-03,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.784956,0.784987,0.792912,0.787615,0.003743,7
8,0.115964,0.003264,0.005332,1.885538e-03,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.771841,0.794922,0.784785,0.783836,0.009449,8
9,1.189413,0.015438,0.022770,3.825791e-03,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.804909,0.794407,0.792606,0.797316,0.005428,4
10,0.119963,0.003264,0.005333,1.885369e-03,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.784812,0.770986,0.785869,0.780560,0.006778,9
11,1.033309,0.125736,0.017474,3.764076e-03,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.804172,0.802856,0.795184,0.800741,0.003963,3

In [14]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:45
BMI:33
Children:1
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [15]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])#change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[47768.2415529]